.text-block {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman';
    color: #333;
    line-height: 1.6;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.text-block h1 {
    font-family: 'Times New Roman';
    font-weight: bold;
    margin-bottom: 1rem;
    color:  black;
}

.text-block p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}